@Model Models.IndexViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewBag.message</p>
    @foreach (var privateChef in Model.PrivateChefs)
        {
            <div class="person-container">
            <img src="@Url.Content(privateChef.PrivateChef_photo_url)" alt="Person Photo" class="person-photo">
                <div class="person-details">
                    <h2>@privateChef.PrivateChef_name</h2>
                    <p>@privateChef.PrivateChef_desc</p>
                </div>
            </div>
        }
</div>

